---
layout: default
---

<div class="content-body">
	<div class="container">
		<div class="row">
			<main class="col-md-12">
				<h1 class="page-title">{{ site.data.about.title }}</h1>
				<article class="post">
					<div class="entry-content clearfix">
						<figure class="img-responsive-center">
							<img class="img-responsive" src="{{ site.data.about.image | relative_url }}"
								alt="{{ site.data.about.title }}">
						</figure>
						<p>{{ site.data.about.description }}</p>
						<div class="height-40px"></div>
						<h2 class="title text-center">Social</h2>
						<ul class="social">
							
							{% assign social_links = site.data.about.social_link %}

							{% if social_links.facebook_username %}<li class="facebook"><a href="{{ social_links.facebook_username }}" target="_blank"><span class="ion-social-facebook"></span></a></li>{% endif %}
							{% if social_links.twitter_username %}<li class="twitter"><a href="{{ social_links.twitter_username }}" target="_blank"><span class="ion-social-twitter"></span></a></li>{% endif %}
							{% if social_links.instagram_username %}<li class="facebook"><a href="{{ social_links.instagram_username }}" target="_blank"><span class="ion-social-instagram"></span></a></li>{% endif %}
							{% if social_links.github_username %}<li class="facebook"><a href="{{ social_links.github_username }}" target="_blank"><span class="ion-social-github"></span></a></li>{% endif %}
							{% if social_links.linkedin_username %}<li class="facebook"><a href="{{ social_links.linkedin_username }}" target="_blank"><span class="ion-social-linkedin"></span></a></li>{% endif %}
							{% if social_links.youtube_username %}<li class="facebook"><a href="{{ social_links.youtube_username }}" target="_blank"><span class="ion-social-youtube"></span></a></li>{% endif %}
						
						</ul>
					</div>
				</article>
			</main>
		</div>
	</div>
</div>