<title>Black &amp; White</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
		<link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{site.baseurl}}/assets/css/ionicons.min.css">
		<link rel="stylesheet" href="{{site.baseurl}}/assets/css/pace.css">
	    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css">

	    <!-- js -->
	    <script src="{{site.baseurl}}/assets/js/jquery-2.1.3.min.js"></script>
	    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
	    <script src="{{site.baseurl}}/assets/js/pace.min.js"></script>
	    <script src="{{site.baseurl}}/assets/js/modernizr.custom.js"></script>