<title>Black &amp; White</title>

<!-- meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- css -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/ionicons.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/pace.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css">



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">


<!-- <style>
			pre code {
				display: block;
				padding: 1em;
				overflow-x: auto;
				border: 1px solid #ccc;
				background: linear-gradient(to right, #614294, #8C4E9E);
				/* Set the background color to black */
				color: #fff;
				/* Set the text color to white */
			}
		</style> -->

<!-- <link rel="stylesheet" href="/path/to/syntax-highlighting-theme.css"> -->
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/path/to/syntax-highlighting-theme.css"> -->
<!-- <link rel="stylesheet" href="{{ "/path/to/syntax-highlighting-theme.css" | relative_url }}"> -->




<style>
	pre {
		background-color: #272A3D;
		background-image: initial;
		background-position-x: initial;
		background-position-y: initial;
		background-size: initial;
		background-repeat-x: initial;
		background-repeat-y: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		border-radius: 15px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
	}

	pre code {
		display: block;
		padding: 1em;
		overflow-x: auto;
		/* background: linear-gradient(to right, #614294, #8C4E9E); */
		/* Set the background color to black */
		color: #fff;

		/* Set the text color to white */
	}
	::selection {
    background-color: #464da4; /* Green color */
  }
</style>