---
layout: default
---

		<div class="content-body">
			<div class="container">
				<div class="container">
					<!-- Image -->
					<a href="{{ page.image | relative_url }}" data-lightbox="{{ page.id }}" data-title="{{ post.title }}">
						<img src="{{ page.image | relative_url }}" style="border-radius: 2rem; max-width: 100%; max-height: 600px; height: auto;" alt="{{ page.title }}">
					</a>
					  
					<!-- <img src="{{ page.image }}" class="rounded mx-auto d-block img-fluid" style="border-radius: 2rem; width: 100%; max-height: 600px;"
					  alt="{{ page.title }}"> -->
				  </div>
				<div class="row">
					<main class="col-md-8">
						<article class="post post-1">
							<header class="entry-header">
								<h1 class="entry-title">{{ page.title }}</h1>
								<div class="entry-meta">
									{% for category in page.categories %}
									<span class="post-category"><a href="#">{{ category }}</a></span>
									{% endfor %}
									<span class="post-date"><a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">{{ page.date | date: "%B %d, %Y" }}</time></a></span>
			
									<span class="post-author"><a href="#">{{ page.author_name }}</a></span>
			
									<span class="comments-link"><a href="#">4 Comments</a></span>
								</div>
							</header>
							<div class="entry-content clearfix">
								<p>{{ content }}</p>
								
							</div>
						</article>
					</main>
					<aside class="col-md-4" style="position: sticky; top: 0;">
						<div class="widget widget-recent-posts">		
							<h3 class="widget-title">Recent Posts</h3>		
							<ul>
								{% for post in site.posts limit:5 reversed %}
							<li>
							  <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
							</li>
						  {% endfor %}
								
								
							</ul>
						</div>
						<!-- <div class="widget widget-archives">		
							<h3 class="widget-title">Archives</h3>		
							<ul>
								<li>
									<a href="#">November 2014</a>
								</li>
								<li>
									<a href="#">September 2014</a>
								</li>
								<li>
									<a href="#">January 2013</a>
								</li>
							</ul>
						</div> -->

						<div class="widget widget-category">		
							<h3 class="widget-title">Category</h3>		
							<ul>
								{% for category in page.categories %}
								<li>
									<a href="#">{{ category }}</a>
								</li>
								{% endfor %}
								
							</ul>
						</div>
					</aside>
				</div>
			</div>
		</div>
	